
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      section(class='info')
        h1 #{firstName}
        h1 #{lastName}
        h3 #{company}
      img(src='#{data}')
