extends layout

block content
  h1= title
  p These are not typical times in your business, and this is not a typical conference. At ProgressNEXT for Partners, you’re not an attendee—you’re a fundamental part of the experience: engaging with Progress technologies, Partners and contributing to the event’s lively dialog. There will be keynote speakers with inspiring messages of innovation and ideas, there will also be networking and fun. But we will not shuffle you from room to room just to listen to another presentation. NEXT is an interactive conference, one that you can customize to meet your needs. What do you want to experience? Who do you want to talk to? What do you want to learn?
  p ProgressNEXT for Partners will feature afternoons of parallel workshop experiences that you can visit. Choose to see one, or all. Spend the time on what interests you. On Monday afternoon we'll have workshops giving you hands-on experiences and interactions with modernization, localizing your business and application and conquering the “Internet of Things.”