doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/kendo-ui-appbuilder-core/styles/kendo.mobile.all.min.css')
    script(src='/kendo-ui-appbuilder-core/js/jquery.min.js') 
    script(src='/kendo-ui-appbuilder-core/js/kendo.mobile.min.js')
    block scripts
    script(src='/js/app.js')
    
      
  body
    block content
    
