extends layout

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/js/amtech.js')

block content

  link(rel='stylesheet', href='/stylesheets/style.css')

  h1 Attendee Flow (Staff)
  
  ul(id="list")
