<div data-role="view" data-title="Details" data-model="app.floorPlan" data-bind="events: { show: detailsShow }" data-zoom="true">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span  style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;">Floor Plan</span>
        </div>
    </header>

    <img id="floorPlanZoomImage" style="zoom:70%;tranform-origin: 0 0" />


    <!-- START_CUSTOM_CODE_dataList -->
    <!-- END_CUSTOM_CODE_dataList -->
</div>
