<div data-role="view" data-title="About" data-layout="main" data-model="app.about" data-show="app.about.onShow" data-after-show="app.about.afterShow">
    <div class="about-view" data-bind="invisible:error">
        <div class="icon-group">
            <div class="app-details">
                <h2>Progress NEXT App</h2>
                <h4 style="margin-top:5px;">Version <span class="version">1.0.1</span></h4>

            </div>

        </div>

        <p style="margin-top:0px;margin-bottom:0px;">This is the companion mobile app for the Progress NEXT Conference for Partners.  If you are attending the conference, this is your main source for information, directions and to take advantage of all the conference has to offer!</p>

        <div class="button-group button-group-vertical">
            <a data-role="button" data-rel="external" href="#" onclick="app.about.aboutForm1.openLink('https://www.facebook.com/progresssw');">Like us on Facebook</a>
            <a data-role="button" data-rel="external" href="#" onclick="app.about.aboutForm1.openLink('https://twitter.com/ProgressSW');">Follow us on Twitter</a>
            <a data-role="button" data-rel="external" href="#" onclick="app.about.aboutForm1.openLink('http://progress.github.io/progressNEXT');">More on this App</a>

        </div>


    </div>

    <div data-role="footer" style="background-color:#F4F4F4;padding:15px;text-align:center;font-size:11px;">

        Made in Rollbase and Telerik Platform

        <p>Copyright © 2016 Progress Software Corporation. All rights reserved. </p>

    </div>


</div>
